body {
    padding: 2rem 0;
    display: block;
}

.App {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100vh;
}

p {
    font-size: 30vw;
    margin: 0;
}

.o {
    color: #039be5;
    animation: o-animation ease-in-out 1000ms;
}

@keyframes o-animation {
    from {
        color: rgb(22, 31, 89);
    }
    to {
        color: #039be5;
    }
}

.b, .red {
    font-size: 30vw;
}
